<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='reset_password.css') }}">
		<!-- <link rel = "stylesheet" href = "reset_password.css"> -->
		<h2>RESET PASSWORD</h2>
	</head>
	<form>
		<table>
			<tr>
				<td>Enter Password</td>
			</tr>
			<tr>
				<td><input type = "password" class="input_box" name="password"></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
			</tr>
			<tr>
				<td><input type="password" class="input_box" name="confirm_pass"></td>
			</tr>
			<tr>
				<td><a href="http://127.0.0.1:5000/" class="button">Submit</a></td>
			</tr>
		</table>
	</form>

