<!DOCTYPE html>
<center>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='sign_up.css') }}">
	</head>
	<h1>SIGN UP</h1>
	<body>
		<form action="http://127.0.0.1:5000/signuppage" method="POST">
			<table>
				<tr>
					<td>User Name</td>
				</tr>
				<tr>
					<td> <input type="text" class="input_box" name="name"> </td>
				<tr>
					{% if user_error %}
					<td style="color:red">{{ user_error }}</td>
					{% endif %}
				</tr>
				</tr>
				<tr>
					<td>Password</td>
				</tr>
				<tr>
					<td> <input type="password" class="input_box" name="password" placeholder="Password must have minimum 10 characters"></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
				</tr>
				<tr>
					<td> <input type="password" class="input_box" name="confirm_password"></td>
				</tr>
				<tr>
					{% if pass_error %}
					<td style="color:red">{{ pass_error }}</td>
					{% endif %}
					{% if pass_error2 %}
					<td style="color:red">{{ pass_error2 }}</td>
					{% endif %}
				</tr>
				<tr>
					<td>Phone Number</td>
				</tr>
				<tr>
					<td>
						<div class="phone-container">
							<select name="country_code" class="country_code_dropdown">
								{% for region, code in country_codes %}
								<option value="+{{ code }}">+{{ code }} ({{ region }})</option>
								{% endfor %}
							</select>
							<input type="text" class="phone_input" name="number">
						</div>
					</td>
				</tr>
				<tr>
					{% if num_error %}
					<td style="color:red">{{ num_error }}</td>
					{% endif %}
					{% if num_error2 %}
					<td style="color:red">{{ num_error2 }}</td>
					{% endif %}
				</tr>
				<tr>
					<td>Mail ID</td>
				</tr>
				<tr>
					<td> <input type="text" class="input_box" name="mail"></td>
				</tr>
				<tr>
					{% if mail_error %}
					<td style="color:red">{{ mail_error }}</td>
					{% endif %}
					{% if mail_error2 %}
					<td style="color:red">{{ mail_error2 }}</td>
					{% endif %}
				</tr>
				<tr>
					<td><input type="submit" class="button" value="SIGN IN"></td>
				</tr>
				<tr>
					{% if mail_send %}
					<td style="color:green">{{ mail_send }}</td>
					{% endif %} 
				</tr>
			</table>
		</form>
	</body>
</center>

